[submodule "vit/vit-pytorch"]
	path = vit/vit-pytorch
	url = https://github.com/lucidrains/vit-pytorch.git
[submodule "detr/detr"]
	path = detr/detr
	url = https://github.com/facebookresearch/detr.git
[submodule "lss/lift-splat-shoot"]
	path = lss/lift-splat-shoot
	url = https://github.com/nv-tlabs/lift-splat-shoot.git
[submodule "dinov2/dinov2"]
	path = dinov2/dinov2
	url = https://github.com/facebookresearch/dinov2.git
[submodule "openclip/open_clip"]
	path = openclip/open_clip
	url = https://github.com/mlfoundations/open_clip.git
[submodule "nerf/nerf"]
	path = nerf/nerf
	url = https://github.com/bmild/nerf.git
[submodule "3dgs/gaussian-splatting"]
	path = 3dgs/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "hednet/HEDNet"]
	path = hednet/HEDNet
	url = https://github.com/zhanggang001/HEDNet.git
[submodule "bevformer/BEVFormer"]
	path = bevformer/BEVFormer
	url = https://github.com/fundamentalvision/BEVFormer.git
[submodule "detr3d/detr3d"]
	path = detr3d/detr3d
	url = https://github.com/WangYueFt/detr3d.git
[submodule "attention/attention-is-all-you-need-pytorch"]
	path = attention/attention-is-all-you-need-pytorch
	url = https://github.com/jadore801120/attention-is-all-you-need-pytorch.git
[submodule "uniad/UniAD"]
	path = uniad/UniAD
	url = https://github.com/OpenDriveLab/UniAD.git
[submodule "bevfusion/bevfusion"]
	path = bevfusion/bevfusion
	url = https://github.com/mit-han-lab/bevfusion.git
[submodule "alexnet/alexnet-pytorch"]
	path = alexnet/alexnet-pytorch
	url = https://github.com/dansuh17/alexnet-pytorch.git
[submodule "vgg/VGG-PyTorch"]
	path = vgg/VGG-PyTorch
	url = https://github.com/Lornatang/VGG-PyTorch.git
[submodule "resnet/pytorch-resnet-example"]
	path = resnet/pytorch-resnet-example
	url = https://github.com/DeepLearnPhysics/pytorch-resnet-example.git
