[submodule "vit/vit-pytorch"]
	path = vit/vit-pytorch
	url = https://github.com/lucidrains/vit-pytorch.git
[submodule "detr/detr"]
	path = detr/detr
	url = https://github.com/facebookresearch/detr.git
[submodule "lss/lift-splat-shoot"]
	path = lss/lift-splat-shoot
	url = https://github.com/nv-tlabs/lift-splat-shoot.git
[submodule "dinov2/dinov2"]
	path = dinov2/dinov2
	url = https://github.com/facebookresearch/dinov2.git
[submodule "openclip/open_clip"]
	path = openclip/open_clip
	url = https://github.com/mlfoundations/open_clip.git
[submodule "nerf/nerf"]
	path = nerf/nerf
	url = https://github.com/bmild/nerf.git
[submodule "3dgs/gaussian-splatting"]
	path = 3dgs/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
